.wufoo .info h2 {
    visibility: hidden;

}
.wufoo .info div {
    visibility: hidden;

}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    border-radius: 10px;
    padding: 8px;
    min-width: 200px;
    height: 20px;

    
}
form li.buttons input {
    border-radius: 10px;
    padding: 8px;
    background-color: #005293;
    width: 100%;
}

.wufoo label.desc, .wufoo legend.desc, .likert caption {
    visibility: hidden;
}